<%- include("partials/header") -%>

<h1>Home</h1>

<p>
  <%= homePageContent %>!
</p>

<%  postsData.forEach(function(post){ %>
<div class="item">
  <p>
  <h3><%= post.title %></h3>
  <h5><%= post.content.substring(0,100) %>...</h5>

  <form class="item" action="/" method="post">
  <a href="posts/<%= post.title %>">Read More</a>
  </form>



</div>
<%  }); %>

<%- include("partials/footer") -%>
